nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2%;
}

a {
    text-decoration: none;
}

.right-links {
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
}